.notifications {
    width: 80%;
    margin: auto;
}

.notifications-listing {
    display: flex;
    flex-direction: column;
    background-color: #000022;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.notifications-listing:hover {
    background-color: #00002f;
}

.notifications-listing a {
    font-size: 2rem;
    text-decoration: none;
}