.chat-container {
    width: 80%;
    margin: auto;
}

.chat-container a {
    text-decoration: none;
}

.chat-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.chat-textarea textarea {
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    height: 60px;
}

.chat-textarea button {
    cursor: pointer;
    width: 15%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #000042;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s;
}

.chat-textarea button:hover {
    background-color: #00005f;
}

.chat-listing {
    display: flex;
    flex-direction: column;
    background-color: #000022;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.chat-listing:hover {
    background-color: #00002f;
}

.chat-listing h2 {
    margin: 0;
}

.chat-listing p {
    margin-bottom: 0;
}

.chat-listing sub {
    text-align: end;
}

.chat-message {
    display: flex;
    flex-direction: column;
    background-color: #000022;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.chat-message:hover {
    background-color: #00002f;
}

.chat-message h2 {
    margin: 0;
}

.chat-message p {
    margin-bottom: 0;
}

.chat-message sub {
    text-align: end;
}