.post-image {
    width: 100%;
    max-width: 288px;
    height: auto;
    min-height: 288px;
    object-fit: cover;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #111111;
    color: white;
    font-size: large;
    font-weight: bolder;
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
    transition: background-color 0.5s;
    background-color: #222222;
}